WebContent/wsdl/BookInventoryServiceImpl.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns="http://service.unilib.com" xmlns:ax23="http://dao.unilib.com/xsd"
	xmlns:ax25="http://model.unilib.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	targetNamespace="http://service.unilib.com">
	<wsdl:documentation>Please Type your service description here
	</wsdl:documentation>
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="http://model.unilib.com/xsd">
			<xs:complexType name="Validation">
				<xs:sequence />
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:ax24="http://dao.unilib.com/xsd"
			xmlns:ax26="http://model.unilib.com/xsd" attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="http://service.unilib.com">
			<xs:import namespace="http://dao.unilib.com/xsd" />
			<xs:import namespace="http://model.unilib.com/xsd" />
			<xs:element name="validateBook">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="book" nillable="true"
							type="ax24:Book" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="validateBookResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="ax26:Validation" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="saveBook">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="book" nillable="true"
							type="ax24:Book" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="saveBookResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="ax26:Validation" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="http://dao.unilib.com/xsd">
			<xs:complexType name="Book">
				<xs:sequence>
					<xs:element minOccurs="0" name="authors" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="id" nillable="true"
						type="xs:int" />
					<xs:element minOccurs="0" name="inlib" nillable="true"
						type="xs:boolean" />
					<xs:element minOccurs="0" name="isbn" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="publisheddate" nillable="true"
						type="xs:date" />
					<xs:element minOccurs="0" name="publisher" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="rating" nillable="true"
						type="xs:int" />
					<xs:element minOccurs="0" name="status" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="title" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="validateBookRequest">
		<wsdl:part name="parameters" element="ns:validateBook" />
	</wsdl:message>
	<wsdl:message name="validateBookResponse">
		<wsdl:part name="parameters" element="ns:validateBookResponse" />
	</wsdl:message>
	<wsdl:message name="saveBookRequest">
		<wsdl:part name="parameters" element="ns:saveBook" />
	</wsdl:message>
	<wsdl:message name="saveBookResponse">
		<wsdl:part name="parameters" element="ns:saveBookResponse" />
	</wsdl:message>
	<wsdl:portType name="BookInventoryServiceImplPortType">
		<wsdl:operation name="validateBook">
			<wsdl:input message="ns:validateBookRequest" wsaw:Action="urn:validateBook" />
			<wsdl:output message="ns:validateBookResponse"
				wsaw:Action="urn:validateBookResponse" />
		</wsdl:operation>
		<wsdl:operation name="saveBook">
			<wsdl:input message="ns:saveBookRequest" wsaw:Action="urn:saveBook" />
			<wsdl:output message="ns:saveBookResponse" wsaw:Action="urn:saveBookResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BookInventoryServiceImplSoap11Binding"
		type="ns:BookInventoryServiceImplPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="validateBook">
			<soap:operation soapAction="urn:validateBook" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveBook">
			<soap:operation soapAction="urn:saveBook" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BookInventoryServiceImplSoap12Binding"
		type="ns:BookInventoryServiceImplPortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="validateBook">
			<soap12:operation soapAction="urn:validateBook"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveBook">
			<soap12:operation soapAction="urn:saveBook" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BookInventoryServiceImplHttpBinding"
		type="ns:BookInventoryServiceImplPortType">
		<http:binding verb="POST" />
		<wsdl:operation name="validateBook">
			<http:operation location="validateBook" />
			<wsdl:input>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveBook">
			<http:operation location="saveBook" />
			<wsdl:input>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BookInventoryServiceImpl">
		<wsdl:port name="BookInventoryServiceImplHttpSoap11Endpoint"
			binding="ns:BookInventoryServiceImplSoap11Binding">
			<soap:address
				location="http://localhost:8081/WSProject/services/BookInventoryServiceImpl.BookInventoryServiceImplHttpSoap11Endpoint/" />
		</wsdl:port>
		<wsdl:port name="BookInventoryServiceImplHttpSoap12Endpoint"
			binding="ns:BookInventoryServiceImplSoap12Binding">
			<soap12:address
				location="http://localhost:8081/WSProject/services/BookInventoryServiceImpl.BookInventoryServiceImplHttpSoap12Endpoint/" />
		</wsdl:port>
		<wsdl:port name="BookInventoryServiceImplHttpEndpoint"
			binding="ns:BookInventoryServiceImplHttpBinding">
			<http:address
				location="http://localhost:8081/WSProject/services/BookInventoryServiceImpl.BookInventoryServiceImplHttpEndpoint/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>